* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: darkblue;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  height: 220px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  color: darkorange;
  font-size: 50px;
  display: inline-block;
  margin: 0;
}
h1 {
  color: darkorange;
  font-size: 90px;
  display: inline-block;
  margin: 0;
}

.tela {
  display: flex;
  flex-direction: row;
}

.area1 {
  width: 50%;
  display: inline-block;
  margin: 20px;
}
.area2 {
  width: 50%;
  display: inline-block;
}

form {
  display: inline-block;
}

h3 {
  color: darkgreen;
  display: block;
}

label {
  color: green;
  font-size: 20px;
}

input {
  display: inline-block;
  width: 500px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.botao1 {
  display: inline;
  margin: 1px;
  margin-top: 20px;
  background-color: darkgreen;
  color: white;
  width: 250px;
  height: 55px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

h4 {
  text-decoration: bold;
  font-size: 18px;
}
table th {
  color: darkgreen;
  font-size: 18px;
  padding: 10px;
}

table button {
  display: inline-block;
  margin: 3px;
  background-color: darkgreen;
  color: white;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  color: green;
  width: 40%;
  height: 40%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.botao2 {
  display: inline;
  margin: 5px;
  background-color: darkgreen;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
