* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(43, 43, 111);
  padding: 20px;
  font-weight: bold;
  text-align: center;
  height: 220px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  /* color: rgb(186, 116, 25); */
  color: white;
  font-size: 50px;
  display: inline-block;
  margin: 0;
}
h1 {
  color: white;
  font-size: 90px;
  display: inline-block;
  margin: 0;
}

.tela {
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 43, 111);
  height: 100%;
}

.area1 {
  width: 50%;
  display: inline-block;
  margin: 20px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
}
.area2 {
  width: 50%;
  display: inline-block;
  margin: 20px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px;
}

form {
  display: inline-block;
}

h3 {
  color: white;
  display: block;
  margin: 20px 0;
  font-size: 30px;
}

label {
  color: white;
  font-size: 20px;
}

.input {
  display: block;
  width: 350px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(43, 43, 111);
}

.botao1 {
  display: inline;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(216, 213, 242);
  width: 200px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

h4 {
  text-decoration: bold;
  font-size: 18px;
  color: rgb(43, 43, 111);
}
table {
  border: white;
}

table th {
  color: white;
  font-size: 18px;
  padding: 5px;
}

table td {
  color: white;
  font-size: 18px;
  padding: 5px;
}

table button {
  display: inline-block;
  margin: 3px;
  background-color: rgb(229, 226, 252);
  width: 100px;
  height: 30px;
  color: rgb(43, 43, 111);
  font-size: 18px;
  border: 1px solid rgb(229, 226, 252);
  border-radius: 5px;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(43, 43, 111);
  width: 40%;
  height: 50%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input2 {
  display: block;
  width: 310px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.botao-modal {
  display: inline;
  margin: 5px;
  background-color: white;
  color: rgb(43, 43, 111);
  width: 100px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
